body {
    background-image: url("../images/memphis-colorful.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    height: auto;
}

.center-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.navigationBar {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 95px;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.myNameBox {
    background-color: #91d4d1;
    height: 94px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 22px;
    font-family: Helvetica, Times, "Times New Roman", serif;
}

.width {
    width: 960px;
    padding-left: 0px;
    padding-right: 0px;
}

.height {
    height: 95px;
}

.float-right {
    float: right;
}

li {
    border-right: 1px solid #cac9c9;
    line-height: 14px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #777777;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
}

.white-background {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.borderBox {
    border: 1px solid #dddddd;
    padding: 20px;
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    color: #91d4d1;
    font-weight: bold;
}

hr {
    border-color: 1px solid #cac9c9;
}

span {
    font-style: italic;
    color: #91d4d1;
}

p {
    font-size: 16px;
}

/* PORTFOLIO-SPECIFIC CONTENT */
#redFlower {
    position: relative;
    margin-top: -20px;
    margin-left: 40px;
    height: 200px;
    width: 200px;
}

#redDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#blueFlower {
    position: relative;
    margin-top: -20px;
    margin-left: 40px;
    height: 200px;
    width: 200px;
}

#blueDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#orangeFlower {
    position: relative;
    margin-left: 40px;
    height: 200px;
    width: 200px;
}

#orangeDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#purpleFlower {
    position: relative;
    margin-left: 40px;
    height: 200px;
    width: 200px;
}

#purpleDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

#pinkFlower {
    position: relative;
    margin-left: 40px;
    height: 200px;
    width: 200px;
}

#pinkDescription {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: #91d4d1;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 200px 0; }
}

i {
    font-style: italic;
    padding-left: 5px;
}

.footer {
    bottom: 0;
    height: 5%;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 0px;
    text-align: center;
    color: #777777;
    font-size: 11px;
    border-top: 5px solid #91d4d1;
    background: url("../images/bananas.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 5s linear infinite;
}