body {
    background-image: url("../images/memphis-colorful.png");
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    height: auto;
}

.navigationBar {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 95px;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.myNameBox {
    background-color: #91d4d1;
    height: 94px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 22px;
    font-family: Helvetica, Times, "Times New Roman", serif;
}

.width {
    width: 960px;
    padding-left: 0px;
    padding-right: 0px;
}

.height {
    height: 95px;
}

.float-right {
    float: right;
}

li {
    border-right: 1px solid #cac9c9;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #777777;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
}

.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 14px;
}

.white-background {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}